<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adaptertest2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_iani"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_iani_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdapterTest2">
        <activity
            android:name=".ImageCapture"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBFBmrD9qIWKFoIqILu0GkUTT800yIov0" />

        <activity
            android:name=".StoreLocations"
            android:exported="false"
            android:label="@string/title_activity_store_locations" />
        <activity
            android:name=".SearchedProducts"
            android:exported="false" />
        <activity
            android:name=".WishList"
            android:exported="false" />
        <activity
            android:name=".ProductsPerCategory"
            android:exported="false" />
        <activity
            android:name=".MyCart"
            android:exported="false" />
        <activity
            android:name=".ProductViewer"
            android:exported="false" />
        <activity
            android:name=".SellerNavigation"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="false" />
        <activity
            android:name=".StoreLocation"
            android:exported="false" />
        <activity
            android:name=".VerificationCode"
            android:exported="false" />
        <activity
            android:name=".ConsumerRegistrationForm"
            android:exported="false" />
        <activity
            android:name=".SellerRegistrationForm"
            android:exported="false" />
        <activity
            android:name=".SelectUserType"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>